In [1]:
import antigranular as ag
session = ag.login(<client_id>,<client_secret>, dataset = "Iris Dataset")

Dataset "Iris Dataset" loaded to the kernel as iris_dataset
Key Name                       Value Type
---------------------------------------------
train_x                        PrivateDataFrame
train_y                        PrivateDataFrame
test_x                         DataFrame

Connected to Antigranular server session id: de38292e-7936-4889-8628-2d6d43606584, the session will time out if idle for 25 minutes
Cell magic '%%ag' registered successfully, use `%%ag` in a notebook cell to execute your python code on Antigranular private python server
ðŸš€ Everything's set up and ready to roll!

In [2]:
import pandas as pd
import numpy as np

'''
Creating a randomised df for analysis
containing the following columns:
  gender: {'M', 'F'}
  education: {'10th', '12th', 'graduate', 'post-graduate'}
  age: (16, 60)
  salary: (20000, 700000)
'''
import functools
name = []

for i in range(0, 10000):
  val = np.random.randint(97, 97+26, 10)
  val = [chr(x) for x in val]

  name.append(functools.reduce(lambda x,y : x+y, val))

gender = []
for i in range(0, 10000):
  gender.append('M' if np.random.randint(0, 2) == 0 else 'F')

education = []

for i in range(0, 10000):
  var = np.random.randint(0, 4)
  if var == 0:
    education.append("10th")
  elif var == 1:
    education.append("12th")
  elif var == 2:
    education.append("graduate")
  else:
    education.append("post-graduate")

df = pd.DataFrame({'name': name, 'gender': gender, 'education': education,
                   'age': np.random.randint(16, 61, 10000), 'salary': np.random.randint(20000, 700000, 10000)})

In [3]:

df.head()

         name gender      education  age  salary
0  jhqlkaxifw      M       graduate   37  672256
1  vkeutrutvt      M  post-graduate   38  447811
2  ysgwvmmxwj      F           12th   43  122024
3  ytnewltoer      M       graduate   28  251129
4  yrgoipjwcm      M  post-graduate   25  349643

In [ ]:
session.private_import(data = df, name = "df")

In [ ]:
%%ag
ag_print("columns: ", pdf.columns)
ag_print("metadata: ", pdf.metadata)
ag_print("categorical_metadata: ",pdf.categorical_metadata)
ag_print("dtypes:\n ", pdf.dtypes)

In [ ]:
%%ag
ag_print(pdf.describe(eps = 0.1))

In [ ]:
%%ag
grouped_pdf = pdf.groupby("education")

ag_print(grouped_pdf["salary"].mean(eps = 1))

In [ ]:
%%ag
import op_pandas
pdf = op_pandas.PrivateDataFrame(df, metadata = {"age": (16, 60), "salary": (20000, 700000)}, categorical_metadata = {"gender": ['M', 'F'], "education": ["10th", "12th", "graduate", "post-graduate"]})

In [4]:
session.terminate_session()

{'status': 'ok'}

In [7]:
%%ag 
ir = iris_dataset['train_x']

In [8]:
%%ag
ag_print(ir.metadata)

{'sepal_length': (4.3, 7.9), 'sepal_width': (2, 4.4), 'petal_length': (1, 6.9), 'petal_width': (0.1, 2.5)}

In [3]:
%%ag
ag_print(health_organisation_dataset.columns)

['patient_firstname', 'patient_lastname', 'patient_date_of_birth', 'patient_phone_number', 'patient_email_address', 'covidtest_date', 'covidtest_result', 'patient_address']

In [9]:
%%ag
ag_print(ir.describe(eps=1))

       sepal_length  sepal_width  petal_length  petal_width
count    131.000000   155.000000     59.000000   143.000000
mean       7.900000     3.230465      5.030826     1.142772
std        1.082105     0.902807      1.348858     0.738640
min        4.300000     2.000000      1.000000     0.100000
25%        5.151472     2.030761      4.773173     0.186862
50%        6.103999     2.300626      5.824647     0.839610
75%        7.412908     3.460677      6.540181     2.460837
max        7.675273     4.310725      4.887440     2.446718

In [3]:
%%ag 
from ag_utils import load_dataset 

# Obtaining the dictionary containing private objects
response = load_dataset("StatCan CBS merged")

# Unpacking the response dictionary
train_x = response["train_x"]
train_y = response["train_y"]
test_x = response["test_x"]

In [18]:
%%ag
from ag_utils import ag_print
ag_print(train_x.describe(e).dtypes)

imp_id                int64
hs6                   int64
date         datetime64[ns]
value                 int64
imp_size             object
exp_id                int64
pref_kode             int64
exp_size             object
dtype: object

In [49]:
import numpy as np

# Scenario 1: Comparing Arrays of the Same Shape
array1 = np.array([1, 2, 3])
array2 = np.array([1, 4, 3])
comparison_same_shape = array1 == array2

# Scenario 2: Comparing an Array with a Scalar
scalar = 2
comparison_with_scalar = array1 == scalar

# Scenario 3: Broadcasting in Comparisons
array3 = np.array([[1, 2, 3], [1, 2, 3]])
comparison_broadcast = array3 == array1

# Scenario 4: Using np.all() and np.any() with Comparison
all_equal = np.all(array1 == array2)
any_equal = np.any(array1 == array2)

# Scenario 5: Handling Floating Point Arrays
array_float1 = np.array([1.0, 2.0, 3.0])
array_float2 = np.array([1.0, 2.0001, 3.0])
comparison_floating_point = np.isclose(array_float1, array_float2, atol=1e-3)

comparison_same_shape, comparison_with_scalar, comparison_broadcast, all_equal, any_equal, comparison_floating_point

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

In [20]:
%%ag
test_x['date'] = test_x['date'].astype(str)

In [24]:
%%ag

from op_pandas import PrivateDataFrame

can_csb_merged = PrivateDataFrame(test_x)

In [26]:
%%ag
can_csb_merged_processed = can_csb_merged[['pref_kode', 'value', 'imp_size', 'exp_size', 'hs6']].copy()
can_csb_merged_processed['pref_kode'] = can_csb_merged_processed['pref_kode'].apply(lambda x: 1 if x == 300 else 0)

---------------------------------------------------------------------------RuntimeError                              Traceback (most recent call last)Cell In[25], line 1
----> 1 can_csb_merged_processed = can_csb_merged[['pref_kode', 'value', 'imp_size', 'exp_size', 'hs6']].copy()
      2 can_csb_merged_processed['pref_kode'] = can_csb_merged_processed['pref_kode'].apply(lambda x: 1 if x == 300 else 0)
File /code/dependencies/ag_engine/ag_engine/restricted_python/custom_hooks.py:19, in CustomHooks.get_attribute(self, obj, attr)
     16         if attr in default_config.type_methods[obj.__class__.__name__]:
     17             return getattr(obj, attr)
---> 19 raise RuntimeError(f"Restricted, {attr} is blocked on the applied object")
RuntimeError: Restricted, apply is blocked on the applied object

In [2]:
import pandas as pd

In [3]:
x = pd.read_csv("C:\\Users\\bhasw\\Downloads\\Harvard\\flight\\test_y.csv")

In [14]:
x.drop(0)

      Unnamed: 0 flight_number  need_to_inform
1              1  BRA-CHI-0003               0
2              2  BRA-CHI-0004               0
3              3  BRA-CHI-0005               1
4              4  BRA-CHI-0006               1
5              5  BRA-CHI-0007               0
...          ...           ...             ...
2701        2701  TOK-SYD-0022               0
2702        2702  TOK-SYD-0023               0
2703        2703  TOK-SYD-0027               0
2704        2704  TOK-SYD-0028               0
2705        2705  TOK-SYD-0029               0

[2705 rows x 3 columns]

In [4]:
x

     flight_number  need_to_inform
0     BRA-CHI-0002               0
1     BRA-CHI-0003               0
2     BRA-CHI-0004               0
3     BRA-CHI-0005               1
4     BRA-CHI-0006               1
...            ...             ...
2701  TOK-SYD-0022               0
2702  TOK-SYD-0023               0
2703  TOK-SYD-0027               0
2704  TOK-SYD-0028               0
2705  TOK-SYD-0029               0

[2706 rows x 2 columns]